<div class="container">
  <mat-card class="w-50">
    <mat-card-header>
      <mat-card-title class="card-title">Excluir Produto</mat-card-title>
      <span class="spacer"></span>
      <a [routerLink]="['/admin', 'products']" mat-button class="mat-link">Voltar aos Produtos</a>
    </mat-card-header>

    <mat-card-content class="flex flex-column">
      <h3 class="mb">Você tem certeza que deseja excluir este produto?</h3>

      <form [formGroup]="deleteProductForm" (ngSubmit)="delete()">
        <mat-form-field class="w-100">
          <mat-label>Nome do Produto</mat-label>
          <input matInput placeholder="Nome do Produto" formControlName="productName" autofocus="autofocus" />
          @if (productNameFormControl.hasError('required')) {
             <mat-error>Nome do Produto não pode ser vazio</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="Eletronicos">
              Eletrônicos
            </mat-option>
            <mat-option value="Eletrodomesticos">
              Eletrodomésticos
            </mat-option>
            <mat-option value="Moveis">
              Móveis
            </mat-option>
            <mat-option value="Acessorios">
              Acessórios
            </mat-option>
            @if (categoryFormControl.hasError('required')) {
              <mat-error>Categoria não pode ser vazia</mat-error>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Preço Unitário</mat-label>
          <input matInput type="number" placeholder="Preço Unitário" formControlName="unitPrice" />
          @if (unitPriceFormControl.hasError('required')) {
            <mat-error>Preço Unitário não pode ser vazio</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Quantidade em Estoque</mat-label>
          <input matInput type="number" placeholder="Quantidade em Estoque" formControlName="quantityInStock" />
          @if (quantityInStockFormControl.hasError('required')) {
            <mat-error>Quantidade em Estoque não pode ser vazia</mat-error>
          }
        </mat-form-field>

        <div class="flex button-panel">
          <div class="empty"></div>
          @if (usersService.isAuthenticated && usersService.isAdmin) {
            <button mat-raised-button color="warn" type="submit">Excluir</button>
          }
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
