@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: (
      plain-family: 'Manrope',
      brand-family: 'Sora',
    ),
    density: 0,
  ));
}
